.Biyografi {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  color: white;

  background: #ffffff;
}

.Bio-text {
  padding: 5%;
  padding-top: 0;
}
.Bio-paragraph {
  margin: 0 20px 0 20px;
  font-size: x-large;
  text-align: justify;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: black;
  margin: 0 20px 0 20px;
}
.Bio {
  font-size: 2em;
  text-align: center;
  line-height: 2.2;
  font-family: "Libre Baskerville", sans-serif;
  font-style: italic;
  color: black;
}
@media screen and (min-width: 10px) and (max-width: 383px) {
  .Biyografi {
    height: 160vh;
  }
  .Bio-paragraph {
    font-size: 12px;
  }
  .Bio {
    font-size: 20px;
  }
}
@media screen and (min-width: 383px) and (max-width: 385px) {
  .Biyografi {
    height: 127vh;
  }
  .Bio-paragraph {
    font-size: 12px;
  }
  .Bio {
    font-size: 20px;
  }
}
@media screen and (min-width: 386px) and (max-width: 391px) {
  .Biyografi {
    height: 120vh;
  }
  .Bio-paragraph {
    font-size: 12px;
  }
  .Bio {
    font-size: 20px;
  }
}
@media screen and (min-width: 391px) and (max-width: 600px) {
  .Biyografi {
    height: 105vh;
  }
  .Bio-paragraph {
    font-size: 12px;
  }
  .Bio {
    font-size: 20px;
  }
}
