.grid {
  width: 100%;
}
.flex-container {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Alanlar {
  font-family: "Libre Baskerville", serif;
  padding-bottom: 1%;
  padding-top: 5%;
  margin-top: 15%;
  font-size: 2em;
  width: 100%;
}
.grid-container {
  padding-bottom: 5%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40vh 40vh;
  gap: 1em;
}
.element {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
}
.element-icon {
  color: rgb(83, 104, 120);
  width: 100%;
  height: 50px;
}
.element-div {
  font-family: "Libre Baskerville";
  font-size: 1.6em;
  color: white;
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: center;
  justify-self: center;
}
.container {
  display: flex;
  width: 100%;
  height: 125px;
  justify-content: center;
  background: linear-gradient(
        -45deg,
        rgb(83, 104, 120),
        rgb(54, 69, 79),
        rgb(54, 69, 79)
      )
      right/300% 100% no-repeat,
    linear-gradient(-45deg, rgb(83, 104, 120), rgb(54, 69, 79), rgb(54, 69, 79))
      right/300% 100% no-repeat;
  transition: 1s;
}
.container:hover {
  background-position: left;
}
.mini-title {
  display: none;
}
@media screen and (min-width: 10px) and (max-width: 410px) {
  .Alanlar {
    font-size: 20px;
  }
  .items {
    visibility: hidden;
  }
  .mini-title {
    padding-top: 34px;
    font-size: 17px;
    color: rgb(83, 104, 120);
    display: block;
  }
  .element-div {
    width: 125px;
    height: 125px;
  }
  .grid-container {
    width: 80%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 32vh;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 80px;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (min-width: 410px) and (max-width: 650px) {
  .Alanlar {
    font-size: 20px;
  }
  .items {
    visibility: hidden;
  }
  .mini-title {
    padding-top: 34px;
    font-size: 17px;
    color: rgb(83, 104, 120);
    display: block;
  }
  .element-div {
    width: 125px;
    height: 125px;
  }
  .grid-container {
    width: 80%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 32vh;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 80px;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (min-width: 651px) and (max-width: 737px) {
  .grid-container {
    padding-bottom: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 40vh;
    gap: 1em;
  }
}
@media screen and (min-width: 737px) and (max-width: 1037px) {
  .grid-container {
    padding-bottom: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    gap: 1em;
  }
}
@media screen and (min-width: 1037px) and (max-width: 1384px) {
  .Alanlar {
    padding-top: 8%;
  }
}
