.pubdiv {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -2vw;
}
.pubh1 {
  font-family: "Libre Baskerville";
  font-size: 2em;
}
.Yayınlar {
  font-size: 1em;
  width: 100%;
  overflow: hidden;
  font-family: "Libre Baskerville", serif;
  color: black;
  background: #fff;
}
.publication-li {
  list-style-type: none;
}
.publication-li a {
  text-decoration: none;
  color: black;
}
.publication-li h2 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  line-height: 1.6;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publication-li p {
  font-size: 1.5em;
  text-align: justify;
  line-height: 2.2;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
#prevBtn {
  position: relative;
  color: black;
  background-color: white;
  border: 0;
  border-radius: 50%;
  transition-duration: 0.4s;
  width: 100px;
  height: 100px;
  padding: 2vh 2vh;
  z-index: 1;
  opacity: 0.4;
  font-size: 4vh;
  right: 43vw;
  top: 42vh;
}
#prevBtn:hover {
  background-color: lightgrey;
  opacity: 0.8;
}
#nextBtn {
  position: relative;
  color: black;
  background-color: white;
  border: 0;
  left: 43vw;
  top: 42vh;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  opacity: 0.4;
  font-size: 4vh;
  padding: 2vh 2vh;
}
#nextBtn:hover {
  background-color: lightgrey;
  opacity: 0.8;
}
@media screen and (min-width: 10px) and (max-width: 650px) {
  .Yayınlar {
    height: 100vh;
  }
  .publication-li {
    max-width: 85%;
    margin: 0;
    margin-left: 10px;
  }
  .pubh1 {
    padding-top: 20px;
    font-size: 20px;
  }
  #nextBtn {
    color: white;
    background-color: black;
    padding: 0;
    left: 42vw;
    top: 25vh;
    width: 25px;
    height: 25px;
    opacity: 1;
    font-size: 10px;
    display: none;
  }
  #nextBtn:hover {
    background-color: black;
    opacity: 1;
    display: none;
  }
  #prevBtn {
    color: white;
    background-color: black;
    width: 25px;
    height: 25px;
    padding: 0;
    opacity: 1;
    font-size: 10px;
    right: 42vw;
    top: 25vh;
    display: none;
  }
  #prevBtn:hover {
    background-color: black;
    opacity: 1;
    display: none;
  }
  .publication-li p {
    width: 90%;
    font-size: 16px;
    text-align: justify;
    line-height: 1.7;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .publication-li h2 {
    width: 90%;
    padding-left: 0;
    margin-right: 50px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
  }
}
