h1 {
  font-family: "Hand-writing", serif;
  font-size: 3em;
}

.App {
  background-color: #dde1e4;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#Navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
