h1 {
  font-family: "Hand-writing", serif;
  font-size: 3em;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: #dde1e4;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#Navbar {
  background-color: #dde1e4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index:2
}
